<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../vue.js"></script>
    <style type="text/css">
    	p{
    		color: red;
    		font-size: 18px;
    		font-weight: 700;
    	}
    </style>
</head>

<body>
    <div id="app1">
        <ul>
            <li v-for="item in items">{{item.message}}</li>
        </ul>
        <ul>
            <li v-for="(item,index) in items">
                {{parentMessage}} - {{index}} : {{item.message}}
            </li>
        </ul>
        <ul>
            <template v-for="(item,key,index) in itemObject">
                <li>{{index}} - {{key}} : {{item}}</li>
                <hr class="divider" style="border-top:1px solid red">
            </template>
        </ul>
        <ul>
            <li v-for="n in 10">{{n}}</li>
        </ul>
    </div>
    <div id="app2">
        <input v-model="newTodoText" v-on:keyup.enter="addNewTodoText" placeholder="please enter Text">
        <ul>
            <li is="todo-item" v-for="(todo,index) in todos" v-bind:title="todo" v-bind:index="index" v-on:remove="todos.splice(index,1)"></li>
        </ul>
        <ul>
            <todo-item v-for="(todo,index) in todos2" v-bind:title="todo" v-bind:index="index" v-on:remove="todos2.splice(index,1)"></todo-item>
        </ul>
    </div>
    <div id="app3">
    	<p>Filter/Order</p>
        <ul>
            <li v-for="num in evenNumarry">{{num}}</li>
        </ul>
        <ul>
            <li v-for="num in even()">{{num}}</li>
        </ul>
        <ul>
            <li v-for="num in numarry1">{{num}}</li>
        </ul>
        <button v-on:click="filterNum">filterNum</button>
    </div>
    <div id="app4">
    </div>
    <script type="text/javascript">
    var vm = new Vue({
        el: "#app1",
        data: {
            parentMessage: "parent",
            items: [{
                message: "No-1"
            }, {
                message: "No-2"
            }],
            itemObject: {
                FirstName: "Wang",
                LastName: "Jianbin",
                age: 23
            }
        }
    });

    Vue.component("todo-item", {
        template: '\
   		  <li>\
            {{index}}:{{ title }}\
            <button v-on:click="$emit(\'remove\')">X</button>\
          </li>\
        ',
        props: ['title', 'index']

    })
    var vm = new Vue({
        el: "#app2",
        data: {
            newTodoText: "",
            todos: [
                "todo-item-1",
                "todo-item-2",
                "todo-item-3"
            ],
            todos2: [
                "todo-item-1",
                "todo-item-2",
                "todo-item-3"
            ]
        },
        methods: {
            addNewTodoText: function() {
                this.todos.push(this.newTodoText);
                this.todos2.push(this.newTodoText);
                this.newTodoText = "";
            }
        }
    });
    var vm1 = new Vue({
        el: "#app3",
        data: {
            numarry: [1, 2, 3, 4, 5, 6, 7, 8, 9],
            numarry1: [1, 2, 3, 4, 5, 6, 7, 8, 9],
        },
        computed: {
            evenNumarry: function() {
                return this.numarry.filter(function(number) {
                    return number % 2 === 0;
                });
            }
        },
        methods: {
            even: function() {
                return this.numarry1.filter(function(number) {
                    return number % 2 === 0;
                });
            },
            filterNum: function() {
                this.numarry1 = this.numarry1.filter(function(number) {
                    return number % 2 === 0;
                });
            }
        }
    });
    </script>
</body>

</html>
