<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app-1">
        <p v-if="seen">
            You can see me now!
        </p>
    </div>
    <div id="app-2">
        <ul>
            <li v-for="item in list">
                {{item}}
            </li>
        </ul>
        <ol>
            <li v-for="item in list2">
                {{item.text}}
            </li>
        </ol>
    </div>
    <script type="text/javascript">
    var app1 = new Vue({
        el: "#app-1",
        data: {
            seen: true
        }
    });
    var app2 = new Vue({
        el: "#app-2",
        data: {
            list:[
            	'item-no1',
            	'item-no2',
            	'item-no3'
            ],
            list2:[
            	{text:'item-no1'},
            	{text:'item-no2'},
            	{text:'item-no3'}
            ]
        }
    });
    </script>
</body>

</html>
