.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background: #fff;
    border-radius: .5rem;
    font-weight: 500;
}