div {
    text-align: center;
    /* vertical-align: middle; */
    display: inline-block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.check {
    font-size: 16.667px;
    font-family: "OpenSans";
    color: rgb(97, 203, 58);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.68;
    -moz-transform: matrix( 0.99854793414935, 0, 0, 1.03030303030303, 0, 0);
    -webkit-transform: matrix( 0.99854793414935, 0, 0, 1.03030303030303, 0, 0);
    -ms-transform: matrix( 0.99854793414935, 0, 0, 1.03030303030303, 0, 0);
    position: absolute;
    left: 668px;
    top: 1004.383px;
    z-index: 134;
}

.actions .price-box {
    /* display: inline-block; */
    text-align: left;
    width: calc(100% - 150px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.Rounded_Rectangle_8 {
    border-radius: 8px;
    background-color: rgb(255, 0, 141);
    position: absolute;
    left: 1751px;
    top: 288px;
    width: 63px;
    height: 44px;
    z-index: 395;
}

.Rectangle_4 {
    background-color: rgb(255, 0, 141);
    position: absolute;
    left: 1207px;
    top: 422px;
    width: 173px;
    height: 48px;
    z-index: 363;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 125px;
    flex-basis: 125px;
    padding: 0 14px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-align: left;
    padding: 24px 20px 24px 28px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.Rectangle_97 {
    background-color: rgb(0, 0, 0);
    opacity: 0.2;
    position: absolute;
    left: -2px;
    top: 116px;
    width: 366px;
    height: 1px;
    z-index: 401;
    width: 25px;
    height: auto;
    background: #ff008d;
    display: inline-block;
    border-radius: 8px 0 0 8px;
    position: absolute;
    left: 50%;
    margin-left: -12.5px;
    top: 50%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

a.read-more-img {
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    max-width: 100%;
}

a.read-more-img:before {
    content: "";
    position: absolute;
    top: -50%;
    right: 50%;
    bottom: -50%;
    left: 50%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

a.read-more-img:hover:before {
    right: -30%;
    left: -30%;
}

a.read-more-img:after {
    content: "show »";
    font: 700 12.5px/28px 'Open Sans';
    color: #ec018c;
    text-align: center;
    position: absolute;
    background: #fff;
    top: 50%;
    left: 50%;
    z-index: 333;
    opacity: 0;
    border-radius: 3px;
    padding: 0 11px;
    text-transform: uppercase;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

a.read-more-img:hover:after {
    opacity: 1;
}


/*common seaction header*/

section .section-header {
    text-align: center;
    margin-bottom: 65px;
}

section .section-header h2 {
    font-size: 37.5px;
    line-height: normal;
    color: #1d5576;
    font-weight: 600;
    letter-spacing: 3px;
}

section .section-header p {
    font-size: 14.58px;
    line-height: 25.83px;
    color: #888888;
    letter-spacing: 1px;
    font-weight: 600;
}


/*inspired*/

.inspired .container {
    width: 1315px;
    padding: 100px 0;
    margin-bottom: 20px;
}

.inspired .inspired-item {
    width: 22.05%;
    margin-right: 3.93333%;
    float: left;
}

.inspired .inspired-item:nth-of-type(4n) {
    margin-right: 0;
}

.inspired a.read-more-img {
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    max-width: 100%;
}

.inspired .inspired-name {
    text-align: center;
    padding: 14px 0;
    height: 56px;
    overflow: hidden;
}

.inspired .inspired-name-link {
    font-size: 14.58px;
    line-height: 28px;
    color: #555;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.inspired .inspired-name-link span {
    font-weight: 400;
}

.inspired .btn-wrapper {
    text-align: center;
}

.inspired .bnt-link {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    padding: 4px 18px;
}

#requestlist.fixed {
    position: fixed;
    top: 0;
    border-bottom: dashed 1px #cccccc;
    border-top: dashed 1px #cccccc;
    padding-bottom: 5px;
    padding-top: 5px;
    z-index: 9999;
    margin-top: 0px;
    width: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#requestlist.fixed {
    margin-top: 0 !important;
}
.sider-nav-op {
    position: absolute;
    right: 0;
    top: 15px;
    z-index:999;
}

.Rectangle_93 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 520px;
    top: 162px;
    width: 760px;
    height: 1218px;
    z-index: 195;
  }
  .Rectangle_92 {
    background-color: rgb(0, 0, 0);
    opacity: 0.502;
    z-index: 193;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  
  .Rectangle_2 {
    background-image: -ms-linear-gradient( -90deg, rgb(29,85,118) 0%, rgb(142,170,187) 41%, rgb(255,255,255) 100%);
    position: absolute;
    left: -15px;
    top: -3px;
    width: 1830px;
    height: 364px;
    z-index: 320;
  }
  .Rectangle_2 {
    background-image: -ms-linear-gradient( -90deg, rgb(29,85,118) 0%, rgb(142,170,187) 41%, rgb(255,255,255) 100%);
    position: absolute;
    left: -705px;
    top: -3px;
    width: 1830px;
    height: 113px;
    z-index: 173;
  }
  .Shape_5_copy {
  background-color: rgb(136, 136, 136);
  position: absolute;
  left: 173px;
  top: 4212px;
  width: 39px;
  height: 2px;
  z-index: 88;
}
.Rounded_Rectangle_7 {
    border-radius: 4px;
    background-color: rgb(236, 1, 140);
    position: absolute;
    left: 170px;
    top: 4307px;
    width: 150px;
    height: 36px;
    z-index: 90;
    
  }
  .Rounded_Rectangle_7 {
    border-radius: 4px;
    background-color: rgb(236, 1, 140);
    position: absolute;
    left: 56px;
    top: 3111px;
    width: 135px;
    height: 32px;
    z-index: 59;
  }
  
