<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../stylesheets/app.css" rel="stylesheet">
</head>
<body>
    <div class="icons-box">
        <ul class="icons-list">
            <li class="icons icons-drop-black-small"></li>
            <li class="icons icons-drop-blue-small"></li>
            <li class="icons icons-drop-pink-small"></li>
            <li class="icons icons-drop-yellow-small"></li>
            <li class="icons single-sprite-drop-blue"></li>
        </ul>
    </div>
    <div class="icons-box">
        <ul class="icons-list">
            <li class="icon icon-drop-black-small"></li>
            <li class="icon icon-drop-blue-small"></li>
            <li class="icon icon-drop-pink-small"></li>
            <li class="icon icon-drop-yellow-small"></li>
        </ul>
    </div>
</body>
</html>